html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	line-height: 25;
	letter-spacing: 1.01px;
	color: $default;
	@extend %OpenSans-400;
}

a {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 2px;
	color: #fff;
	@extend %Oswald-400;
}

.main {
	flex-grow: 1;
}

.container-max {
	max-width: 1900px;
	padding: 50px 50px 60px;
	margin: 0 auto;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
}

.container {
	max-width: 1085px;
	margin: 0 auto;
}
