html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 1.01px;
	color: $default;
	@extend %OpenSans-400;
}

a {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 2px;
	color: #fff;
	@extend %Oswald-400;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-content {
	max-width: 1085px;
	margin: 0 auto;
}
