$accent: #4caf50;
$default: #777777;
$title: #252525;

%OpenSans-700 {
	font-family: "OpenSans-Bold", sans-serif;
	font-weight: 700;
}

%OpenSans-600 {
	font-family: "OpenSans-SemiBold", sans-serif;
	font-weight: 600;
}

%OpenSans-400 {
	font-family: "OpenSans-Regular", sans-serif;
	font-weight: 400;
}

%OpenSans-300 {
	font-family: "OpenSans-Light", sans-serif;
	font-weight: 300;
}

%Oswald-700 {
	font-family: "Oswald-Bold", sans-serif;
	font-weight: 700;
}

%Oswald-500 {
	font-family: "Oswald-Medium", sans-serif;
	font-weight: 500;
}

%Oswald-400 {
	font-family: "Oswald-Regular", sans-serif;
	font-weight: 400;
}

%Oswald-300 {
	font-family: "Oswald-Light", sans-serif;
	font-weight: 300;
}
